#color{
    color: yellow;
}
body{
    background-image: url(../img/pattern.jpg);
    margin: 0px;
}
header{ 

    display: flex;
    background-color: bisque;
    justify-content: space-between;
    padding: 15px;
}
ul{ 
    list-style: none;

}
li{
    display: inline;
    margin: 5px;
    color:blueviolet;
}
 section{
    background-color: white;
    margin: 40px 150px 30px;
    color:palevioletred;

}
a{
    text-decoration-line: none;
}
article{
   border-bottom: 3px solid black;
   margin: 20px;
   color: black;
}


footer{
   background-color: black;
   text-align: center;
   padding: 10px;
   color: white;
}
h1{
   text-align: center;
   color: black;
}
